<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.e8.frame.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.e8.frame.model.Menu" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="iFrame" property="iframe" jdbcType="BIT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="component" property="component" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="CHAR" />
    <result column="sort" property="sort" jdbcType="BIGINT" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, iFrame, name, component, pid, sort, icon, path
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_menu
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_menu
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.e8.frame.model.Menu" >
    insert into t_menu (id, create_time, iFrame,
      name, component, pid, 
      sort, icon, path)
    values (#{id,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{iframe,jdbcType=BIT}, 
      #{name,jdbcType=VARCHAR}, #{component,jdbcType=VARCHAR}, #{pid,jdbcType=CHAR}, 
      #{sort,jdbcType=BIGINT}, #{icon,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.e8.frame.model.Menu" >
    insert into t_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="iframe != null" >
        iFrame,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="component != null" >
        component,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="path != null" >
        path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="iframe != null" >
        #{iframe,jdbcType=BIT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="component != null" >
        #{component,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=BIGINT},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.e8.frame.model.Menu" >
    update t_menu
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="iframe != null" >
        iFrame = #{iframe,jdbcType=BIT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="component != null" >
        component = #{component,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=BIGINT},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.e8.frame.model.Menu" >
    update t_menu
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      iFrame = #{iframe,jdbcType=BIT},
      name = #{name,jdbcType=VARCHAR},
      component = #{component,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=CHAR},
      sort = #{sort,jdbcType=BIGINT},
      icon = #{icon,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>

  <select id="selectByRoleIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
      from t_menu m
    where m.id in (
        select mr.menu_id
        from t_menus_roles mr
        where mr.role_id in (
        <foreach collection="ids" item="ids" index="index"
                 open="(" close=")" separator=",">
          #{ids}
        </foreach>
        )
    )
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_menu
  </select>


  <select id="selectByPid" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_menu where pid = #{pid}
  </select>


  <insert id="insertRoleMenu">
      insert into t_menus_roles(role_id,menu_id) values(#{roleId},#{menuId})
  </insert>

  <delete id="deleteMenuRoleByMenuId">
    delect from t_menus_roles where menu_id = #{id}
  </delete>

</mapper>