<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.e8.frame.mapper.QuartzJobMapper" >
  <resultMap id="BaseResultMap" type="com.e8.frame.model.QuartzJob" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="bean_name" property="beanName" jdbcType="VARCHAR" />
    <result column="cron_expression" property="cronExpression" jdbcType="VARCHAR" />
    <result column="is_pause" property="isPause" jdbcType="BIT" />
    <result column="job_name" property="jobName" jdbcType="VARCHAR" />
    <result column="method_name" property="methodName" jdbcType="VARCHAR" />
    <result column="params" property="params" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bean_name, cron_expression, is_pause, job_name, method_name, params, remark, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_quartz_job
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_quartz_job
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.e8.frame.model.QuartzJob" >
    insert into t_quartz_job (id, bean_name, cron_expression, 
      is_pause, job_name, method_name, 
      params, remark, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{beanName,jdbcType=VARCHAR}, #{cronExpression,jdbcType=VARCHAR}, 
      #{isPause,jdbcType=BIT}, #{jobName,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR}, 
      #{params,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.e8.frame.model.QuartzJob" useGeneratedKeys="true" keyProperty="id">
    insert into t_quartz_job
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="beanName != null" >
        bean_name,
      </if>
      <if test="cronExpression != null" >
        cron_expression,
      </if>
      <if test="isPause != null" >
        is_pause,
      </if>
      <if test="jobName != null" >
        job_name,
      </if>
      <if test="methodName != null" >
        method_name,
      </if>
      <if test="params != null" >
        params,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="beanName != null" >
        #{beanName,jdbcType=VARCHAR},
      </if>
      <if test="cronExpression != null" >
        #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="isPause != null" >
        #{isPause,jdbcType=BIT},
      </if>
      <if test="jobName != null" >
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null" >
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="params != null" >
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.e8.frame.model.QuartzJob" >
    update t_quartz_job
    <set >
      <if test="beanName != null" >
        bean_name = #{beanName,jdbcType=VARCHAR},
      </if>
      <if test="cronExpression != null" >
        cron_expression = #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="isPause != null" >
        is_pause = #{isPause,jdbcType=BIT},
      </if>
      <if test="jobName != null" >
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null" >
        method_name = #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="params != null" >
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.e8.frame.model.QuartzJob" >
    update t_quartz_job
    set bean_name = #{beanName,jdbcType=VARCHAR},
      cron_expression = #{cronExpression,jdbcType=VARCHAR},
      is_pause = #{isPause,jdbcType=BIT},
      job_name = #{jobName,jdbcType=VARCHAR},
      method_name = #{methodName,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryQuartzJobsByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_quartz_job
    where 1 = 1
    <if test="quartzJob.jobname != null">
      and job_name like concat('%',#{quartzJob.jobName,jdbcType=VARCHAR},'%')
    </if>
    limit #{page.number,jdbcType=INTEGER},#{page.size,jdbcType=INTEGER}
  </select>
  <select id="countQuartzJobs" resultType="int">
    select count(1) from t_quartz_job
  </select>
  <select id="findByIsPauseIsFalse" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_quartz_job where is_pause = 0
  </select>
</mapper>